@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary;
  }
}

@layer components {
  .glow {
    @apply absolute w-[150px] h-[150px] bg-accent rounded-full opacity-20 blur-[80px] pointer-events-none;
  }
}

.dark {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(26 32 44 / var(--tw-bg-opacity));
  color: rgb(247 250 252 / var(--tw-text-opacity));
}

.dark .dark\:bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.dark .dark\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark .dark\:text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.dark .dark\:hover\:bg-gray-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

